html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    background-color: #F2F2F2;
    --moderateCyan: hsl(176, 50%, 47%);
    --darkCyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --darkGrey: hsl(0, 0%, 48%);
    scroll-behavior: smooth;
}

/* HEADER */

.pageHeader {
    background: no-repeat top/cover url('assets/image-hero-desktop.jpg');
    display: flex;
    justify-content: space-around;
    min-height: 400px;
    min-width: 120px;
    color: #ffffff;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.menu {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

/* CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 100vh;
    transform: translateY(-9%);
}

/* Header */

.header {
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 297px;
    width: 50%;
}

.logo {
    max-height: 56px;
    transform: translateY(-70%);
}

.buttonsHeader {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
}

.title {
    margin: 0;
    font-size: 28px;
    line-height: 34px;
}

.subTitle {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #7A7A7A;
    font-weight: normal;
}

.btnPrimary {
    font-family: 'Commissioner', sans-serif;
    background: var(--moderateCyan);
    color: white;
    border-radius: 33.5px;
    min-width: 204px;
    height: 56px;
    border: 0px;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btnBookmark {
    font-family: 'Commissioner', sans-serif;
    min-width: 174px;
    height: 56px;
    border: 0px;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: start;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    padding: 0;
    mix-blend-mode: normal;
    border-radius: 33.5px;
}

.filterGreen {
    filter: invert(36%) sepia(49%) saturate(664%) hue-rotate(127deg) brightness(96%) contrast(92%);
}

.btnSecondary {
    background-color: #e2e2e2;
    color: #7A7A7A;
}

.btnSecondaryBookmarked {
    background-color: #92cac6;
    color: #147A73;
}

.btnPrimary:hover {
    cursor: pointer;
    background: var(--darkCyan);
}

.btnSecondary:hover {
    mix-blend-mode: normal;
    cursor: pointer;
}

/* Progress */

.progress {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    display: grid;
    grid-template-columns: 48px minmax(137px, 210px) minmax(59px, 210px) minmax(58px, 210px) 48px;
    grid-template-rows: 48px 1fr minmax(75px, 90px);
    grid-template-areas: ". . . . ."
        ". backed total days ."
        ". progress progress progress progress";
    justify-content: center;
    width: 50%;
}

.backed {
    grid-area: backed;
    align-self: center;
    display: flex;
    justify-content: start;
    gap: 50px;
}

.total {
    grid-area: total;
    display: flex;
    justify-content: space-between;
}

.days {
    grid-area: days;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}


.progressBar {
    grid-area: progress;
    justify-self: stretch;
    align-self: center;
}

.greenProgress {
    height: 20px;
}

progress {
    border-radius: 17px;
    width: 90%;
    height: 18px;
}

progress::-webkit-progress-bar {
    background-color: #F2F2F2;
    border-radius: 17px;
}

progress::-webkit-progress-value {
    background-color: var(--moderateCyan);
    border-radius: 17px;
}


.number {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: var(--black);
}

.letters {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: var(--darkGrey);
}

.verticle-line {
    align-self: center;
    border-left: 1px solid rgba(135, 135, 157, 0.25);
    height: 63px;
}

/* About */

.about {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    align-self: center;
    justify-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}

.aboutTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1%;
}

.aboutText {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #7A7A7A;
    padding: 1%;

}

.aboutCard {
    margin: 1%;
    align-self: stretch;
    border: 1px solid #7A7A7A;
    display: grid;
    grid-template-columns: 5px minmax(220px, 230px) 1fr minmax(160px, 180px) 5px;
    grid-template-rows: 19px 22px minmax(40px, 60px) minmax(35px, 48px) 16px;
    grid-template-areas: ". . . . ."
        ". top . price ."
        ". details details details ."
        ". left . btnReward ."
        ". . . . .";
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
    row-gap: 15px;
}

.topText {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    grid-area: top;
}

.price {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #3CB3AB;
    grid-area: price;
}

.details {
    grid-area: details;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #7A7A7A;
}

.left {
    grid-area: left;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #7A7A7A;
}

.end {
    justify-self: end;
}

.number {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
}

.btnReward {
    font-family: 'Commissioner', sans-serif;
    grid-area: btnReward;
    border-radius: 33.5px;
    min-width: 157px;
    max-width: 204px;
    height: 48px;
    border: 0px;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btnReward:hover {
    background: var(--darkCyan);
}

.outOfStockCard {
    margin: 1%;
    align-self: stretch;
    border: 1px solid #7A7A7A;
    display: grid;
    grid-template-columns: 5px minmax(220px, 230px) 1fr minmax(160px, 180px) 5px;
    grid-template-rows: 19px 22px minmax(40px, 60px) minmax(35px, 48px) 16px;
    grid-template-areas: ". . . . ."
        ". top . price ."
        ". details details details ."
        ". left . btnReward ."
        ". . . . .";
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.textOutOfStock,
.priceOutOfStock,
.detailsOutOfStock,
.leftOutOfStock {
    opacity: 0.6;
}

.btnOutOfStock {
    background: #2F2F2F;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.btnOutOfStock:hover {
    background: #2F2F2F;
}

/* Modal */

.projectModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(77, 77, 77, .7);
}

.contentModal {
    border-radius: 4px;
    position: relative;
    margin: 50px auto;
    width: 50%;
    background: #fff;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.successModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(77, 77, 77, .7);
}


.successContent {
    border-radius: 4px;
    position: relative;
    width: 50%;
    margin: 50px auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.closeModal {
    cursor: pointer;
    top: 5%;
    right: 20px;
    position: absolute;
    color: #585858;
    text-decoration: none;
}

.modalTopText {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    grid-area: top;
}

.inputGroups {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-right: 0;
    padding-top: 20px;
    gap: 20px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: minmax(30px, 32px) 1fr;
    grid-template-rows: 25px 100px 1fr;
    grid-template-areas:
        "r inp"
        ". ."
        "fo fo";
}

.radio {
    grid-area: r;
}

.gridInput {
    grid-area: inp;
    display: grid;
    grid-template-columns: minmax(190px, 200px) minmax(100px, 145px) 1fr 28px;
    grid-template-rows: 25px 100px;
    grid-template-areas:
        "label pledge left ."
        " desc desc desc .";
}

.labelRadio {
    grid-area: label;
}

.pledgeRadio {
    grid-area: pledge;
}

.leftRadio {
    grid-area: left;
}

.descriptionRadio {
    grid-area: desc;
}

.pledge {
    grid-area: fo;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pledgeInput {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.inputField {
    background: url('assets/attach_money_black_24dp.svg') no-repeat scroll 0px 3px;
    opacity: 0.6;
    padding-left: 30px;
    height: 30px;
    border: 1px solid var(--darkCyan);
    border-radius: 33px;
    max-width: 90px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
    line-height: 17px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.myClickState {
    border-color: var(--darkCyan);
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #3CB3AB;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #3CB3AB;
    box-shadow: inset 0 0 0 0.35em white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--darkGrey);
}

input[type="text"] {
    outline: none;
}

@media only screen and (max-width: 786px) {

    /* Header */
    .pageHeader {
        background: no-repeat top/cover url('assets/image-hero-mobile.jpg');
        background-size: 100% 100%;
        min-width: 0;
    }

    .header {
        min-height: 250px;
        min-width: 200px;
    }

    .title {
        font-size: 20px;
        /* overflow-wrap: break-word; */
        max-width: 300px;
    }

    .subTitle {
        width: 60%;
        font-size: 14px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        transform: translateY(-9%);
    }

    .buttonsHeader {
        align-self: flex-start;
        justify-content: center;
    }

    .btnBookmark {
        width: 0;
        align-self: center;
        height: 0;
        font-size: 0;
    }

}

/* Progress */

.progress {
    /* min-height: 250px;
    width: 50%;
    grid-template-columns: minmax(100px, 445px);
    grid-template-rows: minmax(66px, 90px) minmax(66px, 80px) minmax(66px, 80px) 30px;
    grid-template-areas: "backed"
        "total"
        "days"
        "progress";
    justify-content: center; */
}

.verticle-line {
    align-self: center;
    border-left: none;
    border-bottom: 1px solid rgba(135, 135, 157, 0.25);
    width: 63px;
}

.number {
    font-size: 28px;
    line-height: 35px;
}

.letters {
    font-size: 13px;
    line-height: 16px;
}

.backed {
    align-self: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.total {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.days {
    margin: 0;
    align-items: center;
}